<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="eCademy.nuh15.Weather.eCademy.nuh15.Weather" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="eCademy.nuh15.Weather"></application>
</manifest>